{% extends "layout.html" %} {% block content %} 
<h1 class="center">ACTIVITIES</b></h1>
<div class="col-container" style="padding: 1em 14em">
<figure class="col" style="width: 45%; float:left;">
    <div class="button left">
        <button type="submit" class="btn btn-primary padding_50" onclick="location.href='flash_categories'">Flashcards</button>
    </div>
</figure>
<figure class="col" style="width: 45%; float:right;">
    <div class="button right">
        <button type="submit" class="btn btn-primary padding_50" onclick="location.href='{{ url_for('game', index=0, points=0, visited=0)}}'">Game</button>
    </div>
</figure>
</div>
{% endblock content %}