{% extends "layout.html" %} {% block content %}
<a href="/activities">
    <button type="button" class="btn-small btn-primary" style="background-color: rgb(248, 248, 230); color: black;">BACK</button>
</a>
<div >
    <div class="cat">
        <button type="submit" class="btn-big btn-primary " onclick="location.href='{{ url_for('basl_game', index=0, points=0, visited=0)}}'">BASL</button>
    </div>
    <div class="cat">
        <button type="submit" class="btn-big btn-primary " onclick="location.href='{{ url_for('alpha_game', index=0, points=0, visited=0)}}'">Alphabet</button>
    </div>
</div>
<div >
    <div class="cat">
        <button type="submit" class="btn-big btn-primary " onclick="location.href='{{ url_for('basics_game', index=0, points=0, visited=0)}}'">Basics</button>
    </div>
    <div class="cat">
        <button type="submit" class="btn-big btn-primary " onclick="location.href='{{ url_for('food_game', index=0, points=0, visited=0)}}'">Food</button>
    </div>
</div>
{% endblock content %}