{% extends "layout.html" %} {% block content %} 
<h2 class="center pg-hd">HISTORY<h2>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h2 class="center">VIDEOS TO WATCH</b></h2>
            <figure class ="fig-history videos">
                <iframe width="320" height="240" src="https://www.youtube.com/embed/ALW91e6WPTU" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
              
            </figure>
            <figure class ="fig-history videos">
                <iframe width="320" height="240" src="https://www.youtube.com/embed/gjjktL2oOM0" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
            </figure>
            <figure class ="fig-history videos">
            <iframe width="320" height="240" src="https://www.youtube.com/embed/3HDm3kx3rhY" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
        </div>
        <div class="col-8">
        <h2 class="center">ABOUT</h2>
            <p class="history-p">
            The birth of Black American Sign Language (BASL) can be traced back to the American South during segregation. While Northern states varied in their implementation of school segregation, most Southern states implemented school segregation, which affected deaf schools. As segregation ended, integration measures closed black deaf schools and their students were required to go to former 'whites-only' deaf schools. <br><br>
            Confusion and conflict arose in integrated deaf schools as white students who used American Sign Language (ASL) could not understand their black peers who used BASL. Consequently, due to a lack of support and an environment focused on assimilation, BASL was trivialized and almost forgotten. Yet, despite measures to erase the history and existence of BASL and silence the black Deaf and HoH communities, community members have held on to the language and passed it down. Thus, BASL has expanded and evolved, similar to African-American Vernacular English (AAVE).<br><br>
            We believe that this history should be preserved and understood by all, not just by those in the Black Deaf community. Please watch the videos to the left to learn more about intersectionality and BASL.<br><br>
            </p>
        </div>
    </div>
</div>

<h2 class="center">BOOKS TO READ</h2>
    <div class ="container">
        <div class="row">
            <div class="col-4">
            <figure class= "fig-history books">
                <a href="{{ url1 }}">
                <img src= "{{ url_for('static', filename='Book_image.png') }}" alt="flower" height="100" width="100">
                <figcaption class="caption"><b>{{ book1 }}</b></figcaption>
                </a>
            </figure>
            </div>
            <div class="col-4">
            <figure class = "fig-history books">
                <a href="{{ url2 }}">
                <img src="{{ url_for('static', filename='Book_image.png') }}" alt="flower" height="100" width="100">
                <figcaption class="caption"><b>{{ book2 }}</b></figcaption>
                </a>
            </figure>
            </div>
            <div class="col-4">
            <figure class = "fig-history books">
                <a href="{{ url3 }}">
                <img src="{{ url_for('static', filename='Book_image.png') }}" alt="flower" height="100" width="100">
                <figcaption class="caption"><b>{{ book3 }}</b></figcaption>
                </a>
            </figure>
            </div>
        </div>
    </div>


{% endblock content %}