{% extends "layout.html" %} {% block content %} 
<img src="{{ url_for('static', filename='Untitled-Artwork.png') }}" width=100%, height=250px;>
<div class="col-container">
    <figure class="col fig home">
        <img src="{{ url_for('static', filename='woman.png') }}" alt="" width="350px" height="300px">
        <figcaption class="reset"><b>Our Purpose</b></figcaption>
        <figcaption> We seek to increase awareness, knowledge, and support about and towards the Black Deaf community and Black American Sign Language (BASL). Note: 'Deaf' includes those who may identify as deaf, deafblind, deafdisabled, hard of hearing, late-deafened, and hearing impaired. </figcaption>
    </figure>
    <figure class="col fig home">
        <img src="{{ url_for('static', filename='couple_cropped.png') }}" alt="" width="350px" height="300px">
        <figcaption class="reset"><b>Your Purpose</b></figcaption>
        <figcaption> Our website is for the Black community as BASL is similar to African-American Vernacular English (AAVE) in that both should primarily be used by community members. Non-community members are still welcome to explore our website as long as they keep this in mind. </figcaption>
    </figure>
    <figure class="col fig home">
        <img src="{{ url_for('static', filename='family_cropped.png') }}" alt="" width="350px" height="300px">
        <figcaption class="reset"><b>Overview</b></figcaption>
        <figcaption> History - Learn about the history of the Black Deaf community and BASL.<br> News - Read current articles about the Black Deaf community and BASL.<br> Activities - Learn BASL and ASL through flashcards and practice both by playing a matching game.<br> Other Resources - View various resources like relevant content creators, websites and organizations. </figcaption>
    </figure>
</div> {% endblock content %}