{% extends "layout.html" %} {% block content %} 
<h1 class="center pg-hd">NEWS</b></h1>
<div class="col-container">
<news-box class="">
    <h2><b>{{ art1 }}</b></h2> 
    <img src="{{ url_for('static', filename='news-image.png') }}" alt="">
    <p><b>{{ d1 }}</b></p>
</news-box>
<news-box class="">
    <h2><b>{{ art2 }}</b></h2>
    <img src="{{ url_for('static', filename='news-image.png') }}" alt="">
    <p><b>{{ d2 }}</b></p>
</news-box>
<news-box class="">
    <h2><b>{{ art3 }}</b></h2>
    <img src="{{ url_for('static', filename='news-image.png') }}" alt="">
    <p><b>{{ d3 }}</b></p>
</news-box>
<news-box class="">
    <h2><b>{{ art4 }}</b></h2>
    <img src="{{ url_for('static', filename='news-image.png') }}" alt="">
    <p><b>{{ d4 }}</b></p>
</news-box>
{% endblock content %}